@import "tailwindcss";
@theme {
  --color-primary: #08182f;
  --color-secondary: #00a3ff;
  --color-accent: #e5e5e5;
}

@layer base {
  h1 {
    font-size: 4em;
    text-shadow: 0 0 0.5em var(--color-secondary)
  }
  body {
    background-color: var(--color-primary)
  }
  Button {
    color: var(--color-accent)
  }
}


